/* General */
html {
    font-family: 'Roboto', sans-serif;
    color: #5b5b5b;
}
.uk-container {
    max-width: 1140px;
    padding: 0;
}
.container-half {
    width:calc(1140px / 2);
    margin-top: 30px;
}
.container {
    width: 80%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Typo */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #3098d9;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2;
    margin: 10px 0;
}
h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 10px;
    color: #3098d9;
}
h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    color: #3498db;
    margin: 40px 0 25px;
    position: relative;
}
h4 {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
}
h5 {
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #9f9f9f;
    margin: 0 0 15px;
}
p {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.8;
    color: #555;
    margin: 0 0 10px;
}
.uk-text-large {
    font-size: 24px;
    line-height: 1.2;
}
.text-primary {
    font-weight: 600;
    color: #252525;
}

.sidebar ul, .sidebar ol {
    padding: 0;
    list-style: none;
}
.footer-box ul, .footer-box ol {
    padding: 0;
    list-style: none;
}

a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #3498db;
}
a:hover {
    text-decoration: none;
}

a,a:hover,a:focus,a:active,
.uk-button,.uk-button:hover,.uk-button:focus,.uk-button:active,
.uk-button-link,.uk-button-link:hover,.uk-button-link:focus,.uk-button-link:active {
    outline: none;
    text-decoration: none;
}

/* Buttons */
.uk-button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: #3498db;
    letter-spacing: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    min-height: auto;
    line-height: 1;
    padding: 15px 60px;
    margin-top: 35px;
}
.uk-button-large {
    font-size: 18px;
    padding: 20px 70px;
}
.uk-button:hover,.uk-button:focus {
    background: #0f5e93;
    color: #fff;
}
.uk-button-primary {
    background: #fff;
    border: 1px solid #3098d9;
    color: #3098d9;
    padding: 15px 45px;
}
.uk-button-success {
    background: #ff9500;
}

/* Input */
input,
textarea {
    border: 2px solid #f4f4f4;
    background: #f4f4f4;
    box-shadow: none;
    color: #9f9f9f;
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding:  13px 35px;
    line-height: 1.2;
    margin-bottom: 25px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
input:focus,
textarea:focus {
    border-color: #3498db;
    background: transparent;
    box-shadow: none;
    outline: none;
}
input[type="submit"], .nf-form-wrap input[type="button"] {
    color: #fff;
    background: #3498db;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    border: 2px solid #3498db;
    text-transform: uppercase;
    width: auto;
    margin-top: 25px;
    padding: 18px 60px 16px;
    text-align: center;
    letter-spacing: 2px;
}
input[type="submit"]:hover, .nf-form-wrap input[type="button"]:hover {
    color: #fff;
    border-color: #0f5e93;
    background: #0f5e93;
}
textarea {
    height: 210px;
    padding: 25px 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
label, #bottom .nf-field-label label {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin: 0 0 10px 15px;
}
form .uk-grid + .uk-grid {
    margin-top: 0;
}
*::-webkit-input-placeholder {
    color: #777;
    opacity : 0.5;
}
*:focus::-webkit-input-placeholder {
    color: #252525;
    opacity : 1;
}
*:-moz-placeholder {
    color: #777;
    opacity : 0.5;
}
*:focus:-moz-placeholder {
    color: #252525;
    opacity : 1;
}
*::-moz-placeholder {
    color: #777;
    opacity : 0.5;
}
*:focus::-moz-placeholder {
    color: #252525;
    opacity : 1;
}
*:-ms-input-placeholder {
    color: #777;
    opacity : 0.5;
}
*:focus:-ms-input-placeholder {
    color: #252525;
    opacity : 1;
}
#search.uk-modal {
    background: rgba(52, 152, 219, 0.9);
}
.uk-modal-dialog {
    background: none;
    text-align: center;
}
.screen-reader-text {
    display: none;
}
#search input[type="search"]::-webkit-input-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]:focus::-webkit-input-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]:-moz-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]:focus:-moz-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]::-moz-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]:focus::-moz-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]:-ms-input-placeholder {
    color: #fff;
    opacity : 1;
}
#search input[type="search"]:focus:-ms-input-placeholder {
    color: #fff;
    opacity : 1;
}
input[type="search"] {
	-webkit-appearance: none;
}
#search input[type="search"] {
    background: transparent !important;
    border: none !important;
    color: #fff;
    font-size: 48px;
    padding: 15px 0;
    font-weight: 100;
    text-align: center;
}
#search input[type="submit"] {
    color: #3498db;
    background: #fff;
    border: 2px solid #fff;
    width: auto;
    margin-top: 25px;
    padding: 13px 35px 11px;
}
#search input[type="submit"]:hover {
    color: #fff;
    border-color: #0f5e93;
    background: #0f5e93;
}
#search .uk-close {
    color: #fff;
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.nf-form-cont {
    margin-top: 50px;
}

/* Offcanvas */ 
.offcanvas-logo {
    margin-top: 20px;
}   
.uk-navbar-toggle {
    position: relative;
    font-size: 22px;
    color: #fff;
    padding: 0;
    margin-top: 30px;
    display: none;
}
.uk-nav-offcanvas {
    margin-top: 10px;
    text-align: center;
}
.uk-offcanvas-bar {
    background: #3498db;
}
.uk-nav-offcanvas > li > a {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 25px;
    letter-spacing: 2px;
}
.uk-navbar-toggle:hover,
.uk-navbar-toggle:focus {
    color: #fff;
}
html .uk-nav.uk-nav-offcanvas > li.uk-active > a {
    background: transparent;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
    background: transparent;  
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* Header */
#header {
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
    background: #006eb2;
}
.uk-navbar {
    background: transparent;
}
.uk-navbar-brand {
    padding: 30px 0 10px;
    height: auto;
}
.uk-navbar-nav {
    margin-top: 30px;
    float: none;
    text-align: right;
}
.uk-navbar-nav > li {
    float: none;
    display: inline-block;
}
.uk-navbar-nav > li > a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px 8px;
    height: auto;
    line-height: 1.2;
    text-transform: uppercase;
    margin-right: 5px;
}
.uk-navbar-nav > li.current-menu-item > a, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
    background: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #3498db;
}
.uk-dropdown-navbar {
    background: #ffffff;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.uk-dropdown .uk-nav {
    margin: 0;
}
.uk-dropdown-navbar .uk-nav > li > a {
    padding: 6px 15px;
    text-align: left;
}
.uk-dropdown-navbar .uk-nav-navbar > li > a:hover, .uk-dropdown-navbar .uk-nav-navbar > li > a:focus {
    color: #00a8e6;
    background: transparent;
}
#offcanvas .uk-dropdown-navbar {
    display: block !important;
    position: relative;
    top: 0 !important;
    background: transparent;
    width: 100%;
}
#offcanvas .uk-dropdown .uk-nav {
    margin: 0;
    padding:0;
}
.uk-nav-offcanvas > li.menu-item-has-children > a {
    padding-bottom: 0;
}
#offcanvas .uk-dropdown-navbar .uk-nav > li > a {
    text-align: center;
    color:#ffffff;
}
.header-list {
    margin-top: 30px;
    text-align: right;
}
.header-list li {
    display: inline-block;
}
.login {
    border: 1px solid #fff;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    display: block;
    margin-right: 15px;
}
.login:hover {
    background: #fff;
    color: #3498db;
}
.uk-navbar-center {
    display: none;
}

/* Hero */
#hero {
    position: relative;
    top: -1px;
    height: 485px;
    border-bottom: 4px solid #006eb2;
}
.hero-panel {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    height: 100%;
}
.hero-intro {
    margin: 90px 0 60px;
}
.hero-panel-img {
    text-align: center;
}
.hero-panel-img img {
    position: relative;
    top: -120px;
    z-index: 1;
    right: -240px;
}
#hero h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
#hero p {
    color: #fff;
    letter-spacing: 1px;
}
#hero .uk-button {
    margin: 15px 0;
}
.hero-img {
    position: relative;
    z-index: 1;
    top: 0;
}
#hero .video-btn {
	position:relative;
}
#hero .video-btn a {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	margin-left: -110px;
}
.work-email .nf-form-cont {
    margin: 15px 0;
}
.work-email input:focus {
    background: #fff;
}
.work-email .nf-form-wrap input[type="button"] {
    margin-top: 0;
    padding: 14px 60px 12px;
    background: #ff9500;
    border-color: #ff9500;
    font-size: 16px;
    letter-spacing: 1px;
}
.nf-form-wrap input[type="button"]:hover, .nf-form-wrap input[type="button"]:focus {
    background: #0f5e93;
    border-color: #0f5e93;
    color: #fff;
}

/* Header Block */
#header-block {
    padding: 75px 0;
    margin-top: 100px;
    text-align: center;
}
#header-block h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.2;
}

/* Content */
.home #content {
    margin-top: 0;
}

/* Our App */
#ourApp {
    position: relative;
    padding: 15px 0 25px;
}
#ourApp h1 {
    margin-bottom: 10px;
}
#ourApp h1::after, #features h1::after, .testimonials h1::after, .title-center h1::after {
    left: 50%;
    margin-left: -27px;
}
.app-box {
    background: #fff;
    padding: 50px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.app-box h3 {
    color: #006eb2;
    text-transform: uppercase;
    font-weight: 700;
    margin: 25px 0 15px;
}
.app-box p {
    color: #3e3e3e;
    font-size: 16px;
}

/* Video */
#video {
    padding: 70px 0;
    background: #006eb2;
}
#video h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #fff;
}

/* Features */
#features {
    padding: 90px 0 140px;
}
#features h5 {
    color: #3498db;
}
#features h1 {
    color: #fff;
    margin-bottom: 75px;
}
#features h1::after {
    background: url(../img/separator-03.png)no-repeat bottom center;
}
.feature-box {
    background: rgba(255, 255, 255, 0.06);
    padding: 45px 35px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.feature-box:hover {
    background: rgba(0, 0, 0, 0.2);
}
.feature-box::before {
    position: absolute;
    content: "";
    background: url(../img/border-01.png)no-repeat top left;
    height: 49px;
    width: 49px;
    left: -6px;
    top: -6px;
}
.feature-box::after {
    position: absolute;
    content: "";
    background: url(../img/border-02.png)no-repeat bottom right;
    height: 49px;
    width: 49px;
    right: -6px;
    bottom: -6px;
}
.feature-box h3 {
    color: #fff;
}
.feature-box p, .feature-box li {
    color: #afafaf;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin:0 0 10px;
}

/* Built */
#built {
    padding: 150px 0 115px;
    background-size: cover;
}

/* Testimonials */
.testimonials {
    margin: 90px 0;
}
.testimonials p {
    font-weight: 300;
    font-size: 29px;
    color: #006eb2;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    position: relative;
}
.testimonials p::before {
    position: absolute;
    content: "";
    background: url(../img/quote-left.png)no-repeat top left;
    left: -25px;
    width: 20px;
    height: 16px;
}
.testimonials p::after {
    position: absolute;
    content: "";
    background: url(../img/quote-right.png)no-repeat top left;
    right: -25px;
    width: 20px;
    height: 16px;
    top: 0;
}
.uk-slidenav-position .uk-slidenav {
    display: block;
    top: 0;
    margin-top: 0;
    width: auto;
    height: auto;
    color: #bbb;
}
.uk-slidenav-position .uk-slidenav-next {
    right: 0;
}
.uk-slidenav-position .uk-slidenav-previous {
    left: 0;
}
.testimonials h1 {
    margin-bottom: 50px;
}
.testimonials h3 {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 18px;
    color: #010101;
    display: block;
}

/* Learn More */
#learn-more {
    padding: 30px 0;
}
#learn-more h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.2
}
#learn-more h2 span {
    display: block;
    font-weight: 300;
    font-size: 21px;
}
#learn-more .uk-button {
    margin-top: 5px;
    line-height: 1.2;
}

/* Footer */
#footer {
    background: #474747;
    padding: 40px 0 30px;
}
#footer p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.footer-box ul li a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 5px 0;
    display: block;
}
.footer-box ul li a:hover {
    color: #9f9f9f;
}

/* Copyright */
#copyright {
    padding: 15px 0 20px;
}
#copyright p {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0 0;
}

/* =======================================================
   Policy Privacy
   ====================================================== */
#page-header {
    height: 255px;
    border-bottom: 4px solid #006eb2;
}
.pagetitle {
    width: 100%;
}
.pagetitle-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    height: 100%;
}
.pagetitle h1 {
    font-size: 45px;
    font-weight: 700;
    color: #006eb2;
}
.pagetitle p {
    color: #006eb2;
}
.content {
    padding: 80px 0 90px;
}
.list {
    padding-left: 10px;
}
.list li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin: 0;
}
.content-list li {
    padding-left: 20px;
    position: relative;
}
.content-list li:before {
    position: absolute;
    content: "";
    background: url(../img/list-style.png)no-repeat left center;
    width: 8px;
    height: 5px;
    left: 0;
    top: 14px;
}

/* =======================================================
   Support
   ====================================================== */
#bottom {
    text-align: center;
}
.page-white-paper .nf-form-cont {
    margin-top: 100px;
}
.page-white-paper #form-bottom{
    display: none;
}
.page-white-paper .uk-button{
    padding: 20px;
    width: 40%;
    margin: 30px 0 10px;
}
.page-white-paper #bottom {
    margin-top: 0;
}
.page-white-paper #form-bottom {
    margin-top: 50px;
}
.bucket {
    border: 1px solid #8e9089;
    padding: 20px;
}
.bucket h3 {
    font-size: 24px;
    color: #474747;
    margin: 20px 0 35px;
    font-weight: 300;
}
.bucket .uk-overlay-panel {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.bucket:hover .uk-overlay-panel {
    filter: alpha(opacity=100);
    opacity: 1;
}
#tips.uk-subnav {
    display: block;
}
#tips.uk-subnav > * {
    float: none;
    padding-bottom: 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid #e6e6e6;
}
#tips.uk-subnav > * > * {
    color: #474747;
    font-size: 17px;
    font-weight: 300;
}
#tips li.uk-active a, #tips li a:hover {
    color: #3098d9;
}
.tips-bottom h4 {
    font-size: 17px;
}
.date a {
    color: #bcbcbc;
}

/* =======================================================
   About
   ====================================================== */
#content {
    background: #f4f4f4;
}
.page-about #learn-more {
    margin: 95px 0;
}
.page-about .content {
    padding: 30px 0 90px;
}
#learn-more .container-half {
    text-align: center;
    margin: 0 auto;
}

/* =======================================================
   Product
   ====================================================== */
.page-template-page-product .work-email .nf-form-wrap input[type="button"] {
    padding: 14px 20px 12px;
}
.about-testimonials {
    background: #e6e6e6;
    padding: 60px 0;
    margin: 20px 0;
}
.about-testimonials .uk-slidenav-position .uk-slidenav {
    display: none;
}
#paper {
    background: #e6e6e6;
    height: 205px;
    padding: 60px 0;
}
#paper img {
    position: relative;;
    top: -100px;
}
#paper h2 {
    font-size: 29px;
    font-weight: 300;
    line-height: 1.4;
}
.button-div {
    text-align: right;
}
#paper .uk-button {
    margin-top: 15px;
    padding: 15px 45px;
}
.pricing {
    background: #e6e6e6;
    padding: 30px 0 60px;
    /*margin-bottom: 65px;*/
}
.features-list {
    margin-top: 30px;
}
.feature {
    border-right: 1px solid #474747;
    padding: 10px 40px;
}
.feature:last-child {
    border-right: none;
}

/* =======================================================
   Pricing
   ====================================================== */
.plans {
    padding: 40px 40px 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #f9f9f9;
    text-align: center;
}
.plans h2 {
    color: #3098d9;
}
.plans h5 {
    margin-bottom: 5px;
}
.price {
    height: 227px;
    width: 227px;
    background: #3098d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 35px auto;
    padding: 60px 0;
}
.price p span {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
}
.price p {
    color: #fff;
}
.pricing-list li h3 {
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.pricing-list li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* =======================================================
   Magazine
   ====================================================== */
.post {
    margin-bottom: 60px;
}
.post img {
    margin-bottom: 40px;
}
.post-inner h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.post-inner h1 a {
    color: #3098d9;
}
.post-inner h1 a:hover {
    color: #555;
}
.date {
    color: #bcbcbc;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}
.more {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.wp-pagenavi {
    margin-top: 60px;
}
.wp-pagenavi span, .wp-pagenavi a {
    background: transparent;
    color: #9f9f9f;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 4px;
    border: none;
}
.wp-pagenavi span:hover, .wp-pagenavi a:hover {
    background: transparent;
    color: #3498db;
}
.sidebar-box {
    margin-bottom: 50px;
}
.sidebar h4 {
    margin-bottom: 35px;
}
.sidebar-box ul li {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.sidebar ul li a {
    color: #757575;
    font-size: 15px;
    font-weight: 300;
    display: block;
}
.sidebar ul li a:hover {
    color: #3498db;
}
.sidebar-box ul li:last-child {
    border-bottom: none;
}

/* =======================================================
   Single
   ====================================================== */
.post-single .date {
    margin-top: 0;
}
.post-single h1 {
    padding-bottom: 0;
    margin-bottom: 25px;
}
.post-single h1::after {
    background: none;
    height: 0;
}
.post-categories li {
    display: inline-block;
}
.post-categories li a {
    font-size: 14px;
    font-weight: 300;
    color: #9f9f9f;
    text-transform: uppercase;
    padding-right: 17px;
    margin: 0 7px 10px 0;
    display: block;
    position: relative;
    background: url(../img/dot02.png)no-repeat right center;
}
.post-categories li a:hover {
    color: #3498db;
}
.post-categories li:last-child a {
    background: none;
    padding-right: 0;
    margin-right: 0;
}
.post-img {
    margin: 20px 0 40px;
}
.ssba.ssba-wrap {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 60px;
    padding-top: 45px;
    background: url(../img/separator-02.png)no-repeat left top;
}
.ssba a {
    margin: 0 0 15px 12px;
}
.ssba a:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.ssba img {
    margin: 0;
}
.search-form {
    margin-top: 50px;
}
.search-form label {
    margin: 0;
}
.search-form input {
    margin-bottom: 0;
    padding: 18px 35px;
}

/* Get Started */
#get-started {
    padding:60px 0;
    color:#ffffff;
}
#get-started h2, #get-started p {
    color:#ffffff;
}
#get-started h2 {
    font-size:48px;
    margin-bottom:5px;
}
#get-started p {
    font-size:21px;
}

/* =======================================================
   Media Queries
   ====================================================== */

/* Extra Large */
@media only screen and (max-width: 1599px) {
}

@media only screen and (max-width: 1359px) {

    .uk-container, .container-half {
        width: 90%;
    }

}

@media only screen and (max-width: 1279px) {

    #paper {
        padding: 45px 0;
    }
    #paper img {
        position: relative;
        top: -85px;
    }
    #paper .uk-button {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1149px) {

    .uk-navbar-nav, .brand {
        display: none;
    }
    .uk-navbar-center {
        display: block;
    }
    .uk-navbar-toggle {
        display: block;
    }

    /* Inners */

}

@media only screen and (max-width: 1049px) {
    
    /* Inners */
    .page-magazine .content-box {
        width: 100%;
    }

}

/* Large */
@media only screen and (max-width: 959px) {

    #learn-more .uk-button {
        margin-top: 25px;
    }
    .uk-button {
        padding: 15px 45px;
    }
    .hero-panel-img img {
        right: 0;
        top: 0;
    }
    /* Inners */
    .trial, .monthly {
        top: 0;
    }
    .content .plans {
        margin-bottom: 50px;
    }
    .container {
        margin: 0 auto;
        padding-top: 50px;
    }
    .page-template-page-product .hero-img, .section-three-img {
        margin-top: 50px;
    }
    #paper img {
        top: -65px;
    }
    #paper h2 {
        font-size: 25px;
    }
    .button-div {
        text-align: center;
    }
    .page-template-page-product .work-email .nf-form-wrap input[type="button"] {
        padding: 14px 60px 12px;
    }

}
    
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .page-template-page-product .work-email .nf-form-wrap input[type="button"] {
        padding: 14px 15px 12px;
    }
}

@media only screen and (max-width: 849px) {
}

/* Medium */
@media only screen and (max-width: 767px) { 

    .container-half {
        width: 90%;
        margin-left: auto;
        margin-right: sauto;
    }
    .uk-navbar-brand {
        max-width: 100%;
    } 
    .work-email .nf-form-cont .four-sixths,
    .work-email .nf-form-cont .two-sixths {
        width: 100%;
        margin-left: 0;
    }
    #video {
        text-align: center;
    }
    .hero-img {
        margin-top: 50px;
    }
    .testimonials p {
        font-size: 20px;
    }
    #built {
        padding: 90px 0;
    }
    #footer p {
        margin-bottom: 50px;
    }
    
    /* Inners */
    .hero-panel-img {
        display: none;
    }
    .page-product .content, .box:nth-child(2n) .uk-grid {
        text-align: center;
    }
    .box {
        margin-bottom: 70px;
    }
    .product-text {
        height: auto;
    }
    .product-text h3::after, .box:nth-child(2n+0) .product-text h3::after {
        left: 50%;
        margin-left: -80px;
        right: auto;
    }
    .sidebar {
        margin-top: 50px;
    }
    #bottom .nf-form-cont .one-half {
        width: 100%;
        margin-left: 0;
    }
    .page-white-paper .uk-button{
        width: 80%;
    }
    #paper {
        padding: 0px 0 45px;
        height: auto;
        text-align: center;
    }
    #paper h2 {
        position: relative;
        top: -30px;
        font-size: 29px;
    }
    .feature {
        border: none;
        margin-bottom: 25px;
    }

}

/* Small */
@media only screen and (max-width: 479px) {

    .uk-button-large {
        padding: 20px 40px;
    }
    #hero h1 {
        font-size: 38px;
    }
    .hero-intro {
        margin: 60px 0;
    }
    
    /* Inners */
    .pagetitle h1 {
        font-size: 38px;
    }
    .content-box {
        width: 90%;
    }
    .content {
        padding: 90px 0;
    }
    input[type="submit"], #bottom input[type="button"] {
        width: 100%;
    }
    .page-white-paper .uk-button {
        width: 100%;
    }
    .uk-slidenav-position .uk-slidenav, .uk-slidenav-position:hover .uk-slidenav {
        display: none;
    }
    #learn-more h2 {
        line-height: 1.4;
        font-size: 22px;
    }
    #learn-more h2 span {
        font-size: 18px;
    }

}

/* Extra Small */
@media only screen and (max-width: 359px) {

}