.category {
  .post-container {
    margin-top: 2rem;

    .category-description-wrapper {
      margin-bottom: 2rem;

      h1 {
        margin: 0;
        font-weight: bold;
      }
      p {
        --x-height-multiplier: $x-height-multiplier;
        --baseline-multiplier: $baseline-multiplier;
        font-size: $paragraph-font-size;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        margin-bottom: 0;
        &:empty {
          display: none;
        }
      }
    }

  }

}

.blog, .category {

  &.paged {
    .post-container {
      margin-top: 2rem;
    }
  }

  .no-sticky-post {
    margin-top: 2rem;
  }

  .content {
    padding-top: 0;
    .jumbo-post-wrapper{
      margin: 2rem 0;
      width: 100%;
      position: relative;
      .jumbo-post {
        cursor: pointer;
        &:before{
          display: block;
          content: ' ';
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          background:rgba(0,110,178,.25);
        }
        @include border-radius(5px);
        position: relative;
        min-height: 320px;
        margin-bottom: 0;
        padding: 2%;
        background-size: cover;
        background-repeat: no-repeat;
        h3.post-title {
          position: absolute;
          bottom: 2.5rem;
          margin: 0;
          line-height: 1;
          font-size: $jumbo-post-title-font-size; // .jumbo-post h3.post-title
          font-weight: bold;
          color: $white;
          text-shadow: 1px 1px 0px rgba(0,0,0,.25);
        }
        .post-meta {
          position: absolute;
          bottom: 1rem;
          color: $white;
          span.category{
            a{
              text-shadow: 1px 1px 0px rgba(0,0,0,.25);
              text-transform: uppercase;
              color: $white;
            }
          }
          span.read-time {
            text-shadow: 1px 1px 0px rgba(0,0,0,.25);
            letter-spacing: -0.01em;
            //text-transform: uppercase;
          }
        }
        /* animation/transitions */
        @include scale();

      }
    }


    .post {
      display: flex;
      margin-bottom: 2rem;
      cursor: pointer;
      min-height: 132px;

      @media (max-width: 640px){
        flex-direction: column;
      }

      .thumbnail {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:before{
          display: block;
          content: ' ';
          position: absolute;
          top:0;
          left:0;
          height: 100%;
          width: 100%;
          background:rgba(0,110,178,.25);
        }
        flex: 3;
        @media (max-width: 640px){
          flex: 1;
          margin-right: 0;
          min-height: 250px;
          img {
            width: 100%;
          }
        }
        margin-right: 2%;
        overflow: hidden;
        @include border-radius(5px);

        &.no-thumbnail {
          background-size: 50%;
          background-position: center;
          border: 3px solid $light-blue;
          &:before{
            display: block;
            content: ' ';
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            background:transparent;
          }
        }

      }

      .post-meta {
        flex: 9;
        padding: 2.5rem 0;
        @media (max-width: 640px){
          padding: 0.5rem 0;
          flex: 1;
        }

        h3.post-title {
          margin: 0;
          line-height: 1;
          font-size: $post-title-font-size;
          font-weight: normal;
          //font-weight: bold;
          color:$blue;
        }
        span.post-category {
          display: inline-block;
          a {
            font-family: $roboto;
            text-transform: uppercase;
            color: $dark-gray;
            font-weight: 400;
          }
        }
        span.read-time {
          display: inline-block;
          color: $dark-gray;
          letter-spacing: -0.01em;
          //text-transform: uppercase;
        }
      }


      img { margin-bottom: 0; }
      /* animation/transitions */
      @include scale();

    }



    /* pagination */
    .wp-pagenavi span, .wp-pagenavi a {
      //background: transparent;
      background: $white;
      //color: $blue;
      color: $dark-gray;
      border: 1px solid $light-gray;
      font-size: $pagination-font-size;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 4px;
      text-decoration: none;
      padding: .5rem;
      margin: 1px;

      &.current {
        border: none;
        color: $white;
        background: $blue;
      }

      &.extend {
        background: transparent;
        border: none;
        position: relative;
        &:before {
          display: inline-block;
          content: "...";
          color: $dark-gray;
          position: absolute;
          left: 0;
          font-size: $pagination-font-size;
          bottom: 0;
        }
      }
    }




    /* Sidebar */
    .sidebar {

      padding-top: 2rem;

      h4.widgettitle {
        @include border-radius(5px);
        font-size: $widget-title-font-size;
        text-align: center;
        font-family: $roboto;
        font-weight: bold;
        background: $blue;
        color: $white;
        padding: 1rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }

      ul {
        li {
          a {
            font-size: $widget-links-font-size; // widget links
            --x-height-multiplier: $x-height-multiplier;
            --baseline-multiplier: $baseline-multiplier;
            letter-spacing: $letter-spacing;
            line-height: $line-height;
          }
        }
      }

      a {
        img {
          width: 100%;
          /* animation/transitions */
          @include scale();
        }
      }


    }
  }

}