.single {

  .skinny {
    @media (min-width:769px) {
      max-width: 90%;
      margin: 0 auto !important;
    }
  }

  #page-header {
    background-size: cover!important;
    background-position: center!important;
    min-height: 320px!important;
    @media (max-width:640px) {
     min-height: 240px!important;
    }
    border-bottom:none!important;
  }

  .content{
    padding-top: 0!important;

    .blog-title {
      font-weight: bold;
      padding: 1rem 0;
      font-size: $jumbo-post-title-font-size;
      margin-bottom: 0;
    }

    .post-meta {
      margin-bottom: 2rem;
      .category {
        //font-size: 75%;
      }
    }

    .author {
      display: flex;
      //font-size: 1.618rem;
      line-height: $line-height;

      .avatar {
        position: relative;
        top:12px;
        width: 90px;
        height: 90px;
        border-radius: 100px;
        @media (max-width: 319px){
          top:28px;
          box-shadow: none;
          width: 60px;
          height: 60px;
        }
        overflow: hidden;
        box-shadow: 0px 1px 4px rgba(0,0,0,.25);
      }

      .author-info {
        padding-left: 0.75em;
        padding-top: 0.5em;
        span {
          display: block;
        }

        .written-by {
          font-size: $paragraph-font-size;
          line-height: 1;
        }

        .post-date {
          display: block;
        }

        .post-category {
          display: block;
          font-style: italic;
        }

        .linkedin {
          display: block;
          .icon{
            margin: 0!important;
            padding: 0!important;
          }
          svg {
            width: 20px;
          }
        }

      } // .author-info

    } // .author



    .post-single {
        margin-bottom: 2rem;
      p, li, ol {
        --x-height-multiplier: $x-height-multiplier;
        --baseline-multiplier: $baseline-multiplier;
        font-size: $paragraph-font-size;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        margin-bottom: 2rem;
      }
      li {
        margin-bottom: 0rem;
      }
      ul,ol {
        margin-bottom: 2rem;
      }

      blockquote {
        //padding-left: 15px;
        padding: 1rem 0 1rem 1rem;
        border-left: 5px solid $darker-gray;
        font-size: 2rem;
        line-height: $line-height;
        font-style: italic;
        p {
          margin-bottom: 0;
          font-size: 2rem;
        }
      }

    }

  } //.content

  #related-posts {

    .uk-grid {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
      @media (max-width:767px){
        flex-direction: column;
      }
      .col-4 {
        flex: 4;
        @media (max-width:767px){
          flex: 1;
        }
      }
    }

    /* related posts */
    .related-posts-title {
      color: $gray-text;
      font-size: $jumbo-post-title-font-size;
      text-transform: capitalize;
      margin: 1rem 0;
    }


    .related-posts {

      .post {

        .image {
          height: 250px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;

        }

        .no-thumbnail {
          background-repeat: no-repeat;
          height: 250px;
          background-position: center center;
          background-size: contain;
        }

        .title {
          padding: 1rem;
          min-height: 60px;
          color: $blue;
          font-size: $post-title-font-size;

          .date {
            letter-spacing: 0!important;
          }
        }

        @include scale();
      }

    }


    /* grid classes */
    .uk-card-default {
      background: #fff;
      color: $gray-text;

      box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }

    .uk-card {
      position: relative;
      @include border-radius(5px);
      box-sizing: border-box;
      transition: box-shadow .1s ease-in-out;
    }

    .saboxplugin-wrap .saboxplugin-socials {
      position: relative;
      display: block;
      background: transparent;
      top: -80px;
      left: 135px;
      padding: 0;
      border-top: none;
    }

    .uk-grid > * {
      @media (max-width:767px) {
        padding-left: 0 !important;
      }
    }

  } // #related-posts

} // .single











