.page-template-page-ebook-landing {
  background: #F2F2F2;

  header {
    margin: 2rem 0 1rem;
    padding: 1rem 0;
    .breadcrumbs {
      text-align: center;
      .breadcrumb {
        font-family: $roboto-condensed;
        text-transform: uppercase;
        letter-spacing: 0.075rem;
        font-weight: 700;
        font-size: 0.882rem;
      }
      .raquo {
        margin: 0 0.5rem;
      }
    }

    h1 {
      font-size: 2.235rem;
      @media (max-width: 480px) {
        font-size: 2rem;
      }
      text-align: center;
    }
  }

  main {
    margin-bottom: 125px;

    h2 {
      margin: 1.25rem 0;
      font-weight: 400;
      font-size: 1.882rem;
    }

    p {
      font-family: $roboto;
      line-height: 1.5;

    }

    ul {
      li {
        position: relative;
        color: #333;
        line-height: 2;
        font-size: 17px;
        letter-spacing: 0.03rem;
        font-weight: bold;
        list-style: none;
        &:before{
          background-image: url('/wp-content/themes/esticom/img/chevron-circle-right-light.svg');
          position: absolute;
          display: block;
          height: 20px;
          width: 20px;
          content: ' ';
          top: 7px;
          left: -28px;
          //height: 0;
        }
      }
    }

    .cover-image--wrapper {
      background: #DDDDDD;
      padding: 2rem;

      img {
        max-width: 300px;
        @media (max-width: 399px) {
          max-width: 200px;
        }
        margin: 0 auto;
        display: block;
      }
    }

    .form-wrapper {
      @media (max-width: 767px){
        margin-top: 2rem;
      }
      height: 100%;
      border-top: 8px solid $blue;
      padding: 0 2rem 2rem 2rem;
      background: #fff;
      h2 {
        color: $blue;
        font-weight: bold;
        font-family: $roboto;
        text-align: center;
        font-size: 1.882rem;
        @media (max-width: 480px) {
          font-size: 1.625rem;
        }
        letter-spacing: 0.03rem;
      }

      #form {

        input {
          border-radius: 0;
          padding: 10px 20px;
          line-height: 1;
          &.error {
            border: 1px solid #e44409;
          }
        }

        input[type=submit] {
          @extend .uk-button-large;
          @include border-radius(150px);
          display: block;
          margin: 1.5rem auto 0;
          //letter-spacing: 0.15rem;
          padding: 16px 32px!important;
          background: $yellow;
          color: $white;
          border: none!important;
          @media (max-width: $medium-max-width){
            width:100%;
          }
        }

        .form-errors {
          padding-top: 1rem;
          p {
            margin-bottom: 0.25rem;
            text-align: center;
            color: #e44409;
            font-size: 0.9rem;
          }
        }

        section.download-ebook {
          padding-top: 2rem;
          min-height: 300px;
          text-align: center;
          a.download-button {
            @extend .uk-button-large;
            @include border-radius(150px);
            text-transform: uppercase;
            display: block;
            max-width: 300px;
            margin: 2rem auto 0;
            background: $yellow;
            color: $white;
            border: none!important;
          }
        }

      }
    }

  }

}



