/* animate mixin */
@mixin scale(){
  -webkit-transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  -webkit-transform: scale(1) translateY(0) translateZ(0);
  -webkit-font-smoothing: antialiased!important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &:hover{
    outline: 1px solid transparent;
    transform: scale(1.04) translateZ(0);
    -webkit-transform: scale(1.04) translateZ(0);
    //-webkit-transform: translateY(-10px) translateZ(0);
  }
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin breakpoint($breakpoint) {

  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {

    //  479 pixel and below
    @if $breakpoint == xsmall {
      @media (max-width: map_get($breakpoints,$breakpoint)) {
        @content;
      }
    }

      // 480px - 767px
    @else if $breakpoint == small {
      @media (min-width: (map_get($breakpoints,xsmall)+1)) and (max-width: map_get($breakpoints,$breakpoint)) {
        @content;
      }
    }

      //  768px - 959px
    @else if $breakpoint == medium {
      @media (min-width: (map_get($breakpoints,small)+1)) and (max-width: map_get($breakpoints,$breakpoint)) {
        @content
      }
    }

      // 960px - 1199px
    @else if $breakpoint == large {
      @media (min-width: (map_get($breakpoints,medium)+1)) and (max-width: map_get($breakpoints,$breakpoint)) {
        @content
      }
    }


      // 1200px and up
    @else if $breakpoint == xlarge {
      @media (min-width: (map_get($breakpoints,xlarge))){
        @content;
      }
    }

  }

  // other rules
  @else if $breakpoint == large-and-down {
    @media (max-width: map_get($breakpoints,large)) {
      @content;
    }
  }

  @else if $breakpoint == medium-and-down {
    @media (max-width: map_get($breakpoints,medium)) {
      @content;
    }
  }

  @else if $breakpoint == small-and-down {
    @media (max-width: map_get($breakpoints,small)) {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }

}