.single-questions {
  .header {
    padding-top: 8vw;

    span.pagetitle{
      font-size: 45px;
      font-weight: 700;
      color: #006eb2;
    }
  }
  .post{
    min-height: 250px;
  }

  .post-single{
    h1{
      margin-bottom: 0;
      margin-top: 2rem;
    }

    .content {

    }
  }
}

.page-template-page-support {

  .contact-us {
    margin-top: 2rem;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px){
      float: none;
      display: block;
      text-align: center;
    }
    span {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }
  }

  .yellow-button {
    margin: 0!important;
    background: $yellow;
    color: $white;
    padding-left: 24px!important;
    padding-right: 24px!important;
    border: none!important;
    @media (max-width: $medium-max-width){
      width:100%;
    }
  }


  .hero {
    padding-top: 3rem!important;

    .contact-us {

      @media (max-width: 768px) {
        display: none;
      }
    }


  }

  .bucket-wrapper {

    .resource {
      padding: 0!important;
      h3 {
        //margin: 0!important;
        padding: 1rem;
      }
      .term {
        &.Videos {
          background: $blue;
        }
        &.faq {
          background: $dark-gray;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        color: $white;
        border-bottom: 1px solid $dark-gray;
        padding: 0.75rem 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: bold;
      }

      .video-thumbnail {

        top: 42px;
        position: relative;
        display: block;
        position: relative;
        &:before{
          display: block;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 999;
          left: 0;
          background: $black;
          opacity: 0.25;
        }

        &:after{
          display: block;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 999;
          left: 0;
          background-image: url(/wp-content/themes/esticom/img/play-white.svg);
          background-size: 75px;
          background-repeat: no-repeat;
          background-position: center;
        }

      }

      .read-more {
        margin-top: 4rem!important;
        .more {
          padding: 1rem;
        }
      }

    }

  }


}