.page-template-page-trade-page {

  .uk-button {
    margin-top: 0;
  }

  .uk-button-large-custom {
    @extend .uk-button-large;
    display: block;
    padding: 18px!important;
  }

  // bg color classes
  .background-light-gray {
    background: #f2f2f2;
  }

  .background-blue {
    background: $blue;
  }

  // center button
  p.centered {
    margin: 0 auto;
    text-align: center;
    a {
      margin: 0 auto;
    }
  }

  // yellow button styling for template
  .yellow-button {
    background: $yellow;
    color: $white;
    border: none!important;
    @media (max-width: $medium-max-width){
      width:100%;
    }
  }

  // white transparent button styling for template
  .transparent-button {
    background: transparent;
    color: $white;
    border: 1px solid $white;
    @media (max-width: $medium-max-width){
      width:100%;
    }
  }

  // blue transparent button styling for template
  .blue-transparent-button {
    background: transparent;
    color: $blue;
    border: 1px solid $blue;
    @media (max-width: $medium-max-width){
      width:100%;
    }
  }

  // header section
  .trade-page-header {
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    border-bottom: none!important;
    padding: 6rem 0;

    .headlines {
      @include breakpoint(xlarge){
        padding-bottom: 2rem;
      }
    }

    .video {
      @media (max-width: $medium-max-width) {

      }
    }

    span.small-title {
      margin: 0!important;
      opacity: 0.75;
      text-transform: uppercase;
      font-family: $roboto-condensed;
      color: $white;
      font-size: 1.18rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      display: block;
    }

    h1.big-title {
      display: block;
      margin-top: 1rem!important;
      line-height: 1.25;
      font-size: 2.375rem!important;
      color: $white!important;
      font-weight: 400!important;
    }


    .button-group {
      display: flex;
      align-content: space-between;
      .uk-button {
        margin-top: 0.5rem!important;
        cursor: pointer;
      }
    }

    .starts-at {
      margin-top: 2rem;
      span {
        font-size: 1rem;
        color: $white;
      }
    }

  }

  // features section
  .features {
    margin-bottom: 6rem;
    .headlines {
      text-align: center;
      padding: 6rem 0 4rem 0;
      span.small-title {
        display: block;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-family: $roboto-condensed;
        color: $yellow;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        @include breakpoint(small-and-down){
          display: none;
        }
      }

      h2.big-title {
        font-size: 2.375rem!important;
        color: $darker-gray;
        font-weight: 400;
      }

      span.tagline {
        color: $darker-gray;
        display: block;
        margin-top: 0.5rem;
        font-size: 1.25rem;
      }
    }

    .feature {
      padding: 0!important;
      img {
        margin: 0 auto;
        display: block;
      }

      &-title {
        text-align: center;
        display: block;
        margin: 1rem 0;
        line-height: 1.15;
        font-size: 1.5rem;
        color: $blue;
        font-weight: 500;
      }

      p {
        text-align: center;
      }
    }


  }


  // features list section
  .features-list {
    margin-top: 0!important;
    padding-bottom: 10rem;
    .headlines {
      text-align: center;
      padding: 6rem 0 4rem 0;
      span.small-title {
        display: block;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-family: $roboto-condensed;
        color: $yellow;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
      }

      h2.big-title {
        font-size: 2.375rem;
        color: $darker-gray;
        font-weight: 400;
      }
    }

    .list-wrapper {
      .list-block {
        margin: 2rem 0;
        h2 {
          margin-bottom: 1rem;
          font-size: 1.5rem;
          color: $blue;
          @include breakpoint(small){
            text-align: center;
          }
          @include breakpoint(xlarge){
            margin-left: -17px;
          }
        }
        ul {
          margin: 0!important;
          padding: 0!important;
          li{
            @include breakpoint(small){
              text-align: center;
            }

            position: relative;
            list-style: none;
            font-size: 1.5rem;
            line-height: 1.5;
            &:before {
              color: $blue;
              display: flex;
              content: "\2022";
              font-size: 2em;
              position: relative;
              top: -15px;
              left: -17px;
              line-height: 1.5;
              height: 0;
              @include breakpoint(small){
                display: none;
              }
            }
          }
        }
      }
    }

  }

  .callout-1 {
    padding: 4rem 0;

    .headlines {
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;
      h2{
        color: $white;
        font-size: 2.375rem;
        margin: 0!important;
      }
      p {
        color: $white;
        font-size: 1.25rem;
        font-weight: normal;
        margin: 0!important;
      }
      @include breakpoint(small){
        margin-bottom: 2rem;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @include breakpoint(small){
        flex-direction: column;
        a {
          margin: 0.5rem 0!important;
        }
      }

      @include breakpoint(medium){
        margin-top: 1rem;
      }

      a {
        min-width: 250px;
        margin: 0;
        padding: 20px!important;

          &:first-child{
            @include breakpoint(medium){
              margin-right: 1rem;
            }
          }
      }
    }

  }

  .trade-page-slider {
    margin: 6em 0;
      a.uk-slidenav-previous {
        left: -5%!important;
      }

      a.uk-slidenav-next {
        right: -5%!important;
      }

    .headlines {
      h2.big-title {
        text-align: center;
        font-size: 2.375rem;
        margin-bottom: 4rem;
        color: $darker-gray;
        font-weight: 400;
      }
    }

    ul.uk-slider{
      li {
        .slide-wrap {
          display: flex;
          justify-content: center;
          span.caption {
            color: $darker-gray!important;
            display: block!important;
            margin: 1rem 0 0 0;
            font-size: 1.25rem;
          }
        }
      }
    }

  }


  .content-section-1,.content-section-2 {
    padding: 6rem 0;
    h2.big-title {
      font-size: 2.375rem;
      color: $darker-gray;
      font-weight: 400;
    }
  }

  .content-section-1 {

    .headlines {
     @include breakpoint(xlarge){
        padding-top: 2rem;
      }
    }

  }

  .content-section-2 {
    .button-group {
      div {
        @include breakpoint(large-and-down){

          margin-bottom: 1rem;

        }
      }
    }
  }



  .testimonial-wrapper {
    padding: 6em 0;
    margin: 0 auto;
    position: relative;
    .uk-slideshow {
      overflow: visible!important;
      //margin-bottom: 1rem;
    }

    @include breakpoint(xlarge){
      a.uk-slidenav {
        position: absolute;
        top: 45%;
      }
      a.uk-slidenav-previous {
        left: -5%;
      }

      a.uk-slidenav-next {
        right: -5%;
      }
    }



    li.testimonial-content {

      .avatar {
        margin-bottom: 1rem;
        img {
          max-width: 100px;
          margin: 0 auto;
        }

      }

      .testimonial {
        color: $white;
        @media (min-width: 768px) {
          padding: 0 4rem;
        }
        margin: 0 0 2rem;
        p {
          font-family: $roboto;
          letter-spacing: 0.01rem;
          font-size: 1.5rem;
          @include breakpoint(medium-and-down){
            font-size: 1.5rem;
          }
          font-weight: 400;
          line-height: 1.25;
          color: $white;
        }
      }

      .author {
        text-transform: uppercase!important;
        display: block;
        color: $white;
        margin-bottom: 0.25rem;
        font-size: 1.25rem;
        font-weight: 500;
      }
      .title {
        display: block;
        color: $white;
        font-size: 1rem;
        font-weight: 400;
      }

    }

  }


  .white-paper {
    background: $blue;
    padding: 4rem 0;

    h2.headline {
      display: inline-block;
      color: $white;
      font-weight: 500!important;

      font-size: 29px;
      font-weight: 300;
      line-height: 1.4;
      @include breakpoint(xlarge){
        max-width: 60%;
        text-align: left;
      }

    }

    .white-paper-container {
      padding: 0!important;
      position: relative;
      .image {
        @include breakpoint(xlarge){
          position: absolute;
          top: -80px;
          left: -5%;
        }
        @include breakpoint(large-and-down){
          position: relative;
          top: -25px;
          text-align: center;
        }

      }

      .flexbox {

        display: flex;
        align-items: center;

        @include breakpoint(xlarge){
          padding-left: 18%;
          justify-content: space-between;
        }

        @include breakpoint(large-and-down){
          flex-direction: column;
          text-align: center;
        }


        .button-container {
          position: relative;
          @include breakpoint(xlarge) {
            //right: -2rem;
          }
        }
      }

    }



  }

  .pricing-section {
    padding: 6em 0;
    h2.big-title {
      font-size: 2.375rem;
      color: $darker-gray;
      font-weight: 400;
    }

    .price-features-list {
      padding: 3rem 0;
      .price-features {
        @include border-radius(25px);
        background: $white;
        color: $gray-text;
        margin: 1rem 0;
        padding: 2rem 1rem;
        @media (max-width: $medium-max-width) {
          padding: 1rem 2rem;
        }
        box-shadow: 0 1px 5px rgba(0,0,0,0.08);

        span.h2 {
          @extend h2;
          font-size: 2rem;
          color: $blue;
          display: block;
          margin: 2rem 0 3rem 0;
          &:after {
            display: block;
            content: " ";
            position: relative;
            background: #ebebeb;
            height: 1px;
            border-bottom: 2px solid #aeaeae;
            width: 15%;
            top: 20px;
            left: 42.5%;
          }
        }

        p {
          margin: 1rem 0;
        }
      }
    }



  }

}

