$white: #fff;
$orange: #E55317;
$blue: #006EB2;
$light-blue: #3498db;
$light-gray: #e4e4e4;
$dark-gray: rgba(117, 117, 117, 0.43);
$darker-gray: #474747;
$black: #2B2B2B;
$gray-text: #555;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$yellow: #ff9500;


$breakpoints: (
  xsmall: 479px,
  small: 767px,
  medium: 959px,
  large: 1199px,
  xlarge: 1200px
);


$jumbo-post-title-font-size: 2rem;
$post-title-font-size: 1.5rem;
$pagination-font-size: 1rem;
$widget-title-font-size: 1.5rem;
$widget-links-font-size: 1.25rem;
$paragraph-font-size: 1.5rem;
$x-height-multiplier: 0.375;
$baseline-multiplier: 0.17;
$letter-spacing: -.003em;
$line-height: 1.58;

$medium-max-width: 1219px;


